#divi{
    width: 400px;
    height: fit-content;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: gray;
    align-content: center;
}
input, textarea, label{
    max-height: 220px;
    min-height: 40px;
    max-width: 365px;
    min-width: 355px;
    margin-left: 5%;
    margin-right: 8%;
    margin-bottom: 15px;
    border-radius: 8px;
}
input{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    resize: vertical;
    overflow: hidden;
}
input#butao{
    width: 365px;
}