.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Aula 10*/
label, input, select, textarea{
    display: block;
    width: 95%;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}
/* Aula 11 */
.que{
    display: inline;
    width: 3%;
    font-size: 14px;
}
form{
    width: 550px;
    margin: auto;
    padding: 40px;
    background-color: #eee;
    border-radius: 10px;
}
label{
    padding: 0px;
    margin-top: 20px;
}
.medidas{
    display: inline;
    width: 35%;
    margin-top: 20px;
}

/* Aula 12 */
/* Alterando margins, paddings e outros tamanhos */ 

/* Aula 13 */
/* Adicionando uma fonte diferente ao texto*/
input[type="checkbox"],input[type="radio"]{
    margin-right: 0;
    margin-left: 10px;
}

/* Aula 14 */
/*borda no formulário*/
input, select, textarea{
    border-radius: 5px;
    border: 0;
}
input:focus, select:focus, textarea:focus{
    outline: none;
    border: soldi 1px red;
}
#enviar{
    width: 100%;
    border: 2px solid blanchedalmond;
    background-color: antiquewhite;
    color: rgb(88, 79, 79);
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}
#enviar:hover{
    background-color: #000;
    color: white;
    transition: all linear 0.5s;
}